body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);  
    overflow: hidden;
}

.container {
    background-color: white;
    width: 300px;
    height: 500px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    transform: translateY(39.62%);
}

.qr {
    background-color: hsl(216.23,95.39%,57.45%);
    width: 290px;
    height: 290px;
    margin: auto;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.circle-one {
    width: 250px;
    height: 250px;
    background-color: hsl(216.6,99.01%,60.39%);
    border-radius: 50%;
    margin-top: -90px;
    margin-left: -75px;
}

.circle-two {
    width: 230px;
    height: 230px;
    background-color: hsl(216.6,99.01%,60.39%);
    border-radius: 50%;
    bottom: -50px;
    transform: translateX(60%);
    position: relative;
}

.code {
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    grid-template-rows: repeat(29, 1fr);
    grid-gap: 0;
}

.grid-item {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 1px;
    background-color: white;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
        color: hsl(228, 45%, 44%);  
}

p {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
}

p:first-of-type {
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
}

p:last-of-type {
    color: hsl(220,4.31%,59.02%);
    font-size: 15px;
}

.grid-item:nth-child(8),
.grid-item:nth-child(9),
.grid-item:nth-child(10),
.grid-item:nth-child(12),
.grid-item:nth-child(13), 
.grid-item:nth-child(14),
.grid-item:nth-child(15),
.grid-item:nth-child(18), 
.grid-item:nth-child(20),
.grid-item:nth-child(21),
.grid-item:nth-child(22), 
.grid-item:nth-child(31),
.grid-item:nth-child(32),
.grid-item:nth-child(33), 
.grid-item:nth-child(34),
.grid-item:nth-child(35),
.grid-item:nth-child(37), 
.grid-item:nth-child(40),
.grid-item:nth-child(45),
.grid-item:nth-child(48), 
.grid-item:nth-child(49),
.grid-item:nth-child(51),
.grid-item:nth-child(53), 
.grid-item:nth-child(54),
.grid-item:nth-child(55),
.grid-item:nth-child(56), 
.grid-item:nth-child(57),
.grid-item:nth-child(60),
.grid-item:nth-child(64),
.grid-item:nth-child(66),
.grid-item:nth-child(70),
.grid-item:nth-child(73), 
.grid-item:nth-child(75),
.grid-item:nth-child(76),
.grid-item:nth-child(78), 
.grid-item:nth-child(80),
.grid-item:nth-child(82),
.grid-item:nth-child(86), 
.grid-item:nth-child(89),
.grid-item:nth-child(93),
.grid-item:nth-child(95), 
.grid-item:nth-child(98),
.grid-item:nth-child(100),
.grid-item:nth-child(101), 
.grid-item:nth-child(102),
.grid-item:nth-child(103),
.grid-item:nth-child(106), 
.grid-item:nth-child(107),
.grid-item:nth-child(109),
.grid-item:nth-child(111), 
.grid-item:nth-child(115),
.grid-item:nth-child(118),
.grid-item:nth-child(122), 
.grid-item:nth-child(124),
.grid-item:nth-child(125),
.grid-item:nth-child(127),
.grid-item:nth-child(128),
.grid-item:nth-child(129),
.grid-item:nth-child(130), 
.grid-item:nth-child(131),
.grid-item:nth-child(134),
.grid-item:nth-child(135), 
.grid-item:nth-child(138),
.grid-item:nth-child(140),
.grid-item:nth-child(144), 
.grid-item:nth-child(147),
.grid-item:nth-child(148),
.grid-item:nth-child(149), 
.grid-item:nth-child(150),
.grid-item:nth-child(151),
.grid-item:nth-child(153), 
.grid-item:nth-child(154),
.grid-item:nth-child(156),
.grid-item:nth-child(157), 
.grid-item:nth-child(159),
.grid-item:nth-child(160),
.grid-item:nth-child(162), 
.grid-item:nth-child(163),
.grid-item:nth-child(164),
.grid-item:nth-child(165), 
.grid-item:nth-child(167),
.grid-item:nth-child(169),
.grid-item:nth-child(170),
.grid-item:nth-child(171),
.grid-item:nth-child(172),
.grid-item:nth-child(173), 
.grid-item:nth-child(182),
.grid-item:nth-child(184),
.grid-item:nth-child(186), 
.grid-item:nth-child(188),
.grid-item:nth-child(190),
.grid-item:nth-child(192), 
.grid-item:nth-child(194),
.grid-item:nth-child(196),
.grid-item:nth-child(204), 
.grid-item:nth-child(205),
.grid-item:nth-child(206),
.grid-item:nth-child(207), 
.grid-item:nth-child(208),
.grid-item:nth-child(209),
.grid-item:nth-child(210),
.grid-item:nth-child(211),
.grid-item:nth-child(213), 
.grid-item:nth-child(214),
.grid-item:nth-child(216),
.grid-item:nth-child(217), 
.grid-item:nth-child(221),
.grid-item:nth-child(223),
.grid-item:nth-child(225),
.grid-item:nth-child(226),
.grid-item:nth-child(227), 
.grid-item:nth-child(228),
.grid-item:nth-child(229),
.grid-item:nth-child(230),
.grid-item:nth-child(231),
.grid-item:nth-child(232), 
.grid-item:nth-child(234),
.grid-item:nth-child(235),
.grid-item:nth-child(236), 
.grid-item:nth-child(237),
.grid-item:nth-child(238),
.grid-item:nth-child(240), 
.grid-item:nth-child(242),
.grid-item:nth-child(244),
.grid-item:nth-child(245), 
.grid-item:nth-child(246),
.grid-item:nth-child(247),
.grid-item:nth-child(248),
.grid-item:nth-child(251),
.grid-item:nth-child(253),
.grid-item:nth-child(256), 
.grid-item:nth-child(257),
.grid-item:nth-child(261),
.grid-item:nth-child(263), 
.grid-item:nth-child(265),
.grid-item:nth-child(266),
.grid-item:nth-child(268), 
.grid-item:nth-child(269),
.grid-item:nth-child(270),
.grid-item:nth-child(271), 
.grid-item:nth-child(272),
.grid-item:nth-child(273),
.grid-item:nth-child(274), 
.grid-item:nth-child(276),
.grid-item:nth-child(277),
.grid-item:nth-child(282), 
.grid-item:nth-child(283),
.grid-item:nth-child(284),
.grid-item:nth-child(287), 
.grid-item:nth-child(290),
.grid-item:nth-child(291),
.grid-item:nth-child(296), 
.grid-item:nth-child(301),
.grid-item:nth-child(302),
.grid-item:nth-child(309),
.grid-item:nth-child(310),
.grid-item:nth-child(311),
.grid-item:nth-child(312), 
.grid-item:nth-child(313),
.grid-item:nth-child(314),
.grid-item:nth-child(315), 
.grid-item:nth-child(316),
.grid-item:nth-child(317),
.grid-item:nth-child(318), 
.grid-item:nth-child(319),
.grid-item:nth-child(321),
.grid-item:nth-child(323), 
.grid-item:nth-child(324),
.grid-item:nth-child(326),
.grid-item:nth-child(331), 
.grid-item:nth-child(334),
.grid-item:nth-child(335),
.grid-item:nth-child(336),
.grid-item:nth-child(337),
.grid-item:nth-child(338), 
.grid-item:nth-child(339),
.grid-item:nth-child(341),
.grid-item:nth-child(344), 
.grid-item:nth-child(346),
.grid-item:nth-child(347),
.grid-item:nth-child(348),
.grid-item:nth-child(349),
.grid-item:nth-child(351), 
.grid-item:nth-child(352),
.grid-item:nth-child(353),
.grid-item:nth-child(356)
.grid-item:nth-child(358),
.grid-item:nth-child(360), 
.grid-item:nth-child(361),
.grid-item:nth-child(363),
.grid-item:nth-child(366), 
.grid-item:nth-child(367),
.grid-item:nth-child(370),
.grid-item:nth-child(373), 
.grid-item:nth-child(374),
.grid-item:nth-child(375),
.grid-item:nth-child(376), 
.grid-item:nth-child(378),
.grid-item:nth-child(379),
.grid-item:nth-child(381),
.grid-item:nth-child(383),
.grid-item:nth-child(384),
.grid-item:nth-child(386), 
.grid-item:nth-child(389),
.grid-item:nth-child(390),
.grid-item:nth-child(391), 
.grid-item:nth-child(392),
.grid-item:nth-child(393),
.grid-item:nth-child(395), 
.grid-item:nth-child(396),
.grid-item:nth-child(401),
.grid-item:nth-child(403), 
.grid-item:nth-child(404),
.grid-item:nth-child(409),
.grid-item:nth-child(410), 
.grid-item:nth-child(412),
.grid-item:nth-child(414),
.grid-item:nth-child(417), 
.grid-item:nth-child(418),
.grid-item:nth-child(419),
.grid-item:nth-child(420), 
.grid-item:nth-child(421),
.grid-item:nth-child(422),
.grid-item:nth-child(423), 
.grid-item:nth-child(426),
.grid-item:nth-child(427),
.grid-item:nth-child(429),
.grid-item:nth-child(431),
.grid-item:nth-child(434),
.grid-item:nth-child(435),
.grid-item:nth-child(436),
.grid-item:nth-child(437),
.grid-item:nth-child(438),
.grid-item:nth-child(439), 
.grid-item:nth-child(440),
.grid-item:nth-child(441),
.grid-item:nth-child(442),
.grid-item:nth-child(443),
.grid-item:nth-child(447), 
.grid-item:nth-child(448),
.grid-item:nth-child(449),
.grid-item:nth-child(452), 
.grid-item:nth-child(453),
.grid-item:nth-child(456),
.grid-item:nth-child(457), 
.grid-item:nth-child(458),
.grid-item:nth-child(461),
.grid-item:nth-child(463), 
.grid-item:nth-child(466),
.grid-item:nth-child(467),
.grid-item:nth-child(468),
.grid-item:nth-child(472),
.grid-item:nth-child(473),
.grid-item:nth-child(474), 
.grid-item:nth-child(475),
.grid-item:nth-child(477),
.grid-item:nth-child(478), 
.grid-item:nth-child(479),
.grid-item:nth-child(480),
.grid-item:nth-child(485), 
.grid-item:nth-child(486),
.grid-item:nth-child(487),
.grid-item:nth-child(489), 
.grid-item:nth-child(492),
.grid-item:nth-child(493),
.grid-item:nth-child(495), 
.grid-item:nth-child(496),
.grid-item:nth-child(497),
.grid-item:nth-child(498), 
.grid-item:nth-child(499),
.grid-item:nth-child(500),
.grid-item:nth-child(504), 
.grid-item:nth-child(506),
.grid-item:nth-child(509),
.grid-item:nth-child(510), 
.grid-item:nth-child(515),
.grid-item:nth-child(519),
.grid-item:nth-child(526),
.grid-item:nth-child(530),
.grid-item:nth-child(533),
.grid-item:nth-child(535), 
.grid-item:nth-child(536),
.grid-item:nth-child(537),
.grid-item:nth-child(539), 
.grid-item:nth-child(540),
.grid-item:nth-child(541),
.grid-item:nth-child(543), 
.grid-item:nth-child(544),
.grid-item:nth-child(545),
.grid-item:nth-child(546), 
.grid-item:nth-child(547),
.grid-item:nth-child(549),
.grid-item:nth-child(550), 
.grid-item:nth-child(553),
.grid-item:nth-child(556),
.grid-item:nth-child(558),
.grid-item:nth-child(559),
.grid-item:nth-child(560), 
.grid-item:nth-child(563),
.grid-item:nth-child(566),
.grid-item:nth-child(567), 
.grid-item:nth-child(568),
.grid-item:nth-child(569),
.grid-item:nth-child(571),
.grid-item:nth-child(577),
.grid-item:nth-child(578), 
.grid-item:nth-child(579),
.grid-item:nth-child(580),
.grid-item:nth-child(582)
.grid-item:nth-child(583),
.grid-item:nth-child(584), 
.grid-item:nth-child(586),
.grid-item:nth-child(589),
.grid-item:nth-child(591), 
.grid-item:nth-child(593),
.grid-item:nth-child(594),
.grid-item:nth-child(597), 
.grid-item:nth-child(599),
.grid-item:nth-child(600),
.grid-item:nth-child(606), 
.grid-item:nth-child(610),
.grid-item:nth-child(611),
.grid-item:nth-child(612),
.grid-item:nth-child(613),
.grid-item:nth-child(614),
.grid-item:nth-child(615), 
.grid-item:nth-child(617),
.grid-item:nth-child(621),
.grid-item:nth-child(622), 
.grid-item:nth-child(623),
.grid-item:nth-child(625),
.grid-item:nth-child(626), 
.grid-item:nth-child(629),
.grid-item:nth-child(631),
.grid-item:nth-child(632), 
.grid-item:nth-child(633),
.grid-item:nth-child(636),
.grid-item:nth-child(637), 
.grid-item:nth-child(638),
.grid-item:nth-child(646),
.grid-item:nth-child(647), 
.grid-item:nth-child(648),
.grid-item:nth-child(649),
.grid-item:nth-child(650), 
.grid-item:nth-child(652),
.grid-item:nth-child(653),
.grid-item:nth-child(654), 
.grid-item:nth-child(655),
.grid-item:nth-child(656),
.grid-item:nth-child(660),
.grid-item:nth-child(662),
.grid-item:nth-child(666),
.grid-item:nth-child(667),
.grid-item:nth-child(669),
.grid-item:nth-child(670), 
.grid-item:nth-child(671),
.grid-item:nth-child(672),
.grid-item:nth-child(673),
.grid-item:nth-child(675),
.grid-item:nth-child(676),
.grid-item:nth-child(677), 
.grid-item:nth-child(680),
.grid-item:nth-child(681),
.grid-item:nth-child(685), 
.grid-item:nth-child(686),
.grid-item:nth-child(689),
.grid-item:nth-child(690), 
.grid-item:nth-child(691),
.grid-item:nth-child(693),
.grid-item:nth-child(694), 
.grid-item:nth-child(695),
.grid-item:nth-child(698),
.grid-item:nth-child(702), 
.grid-item:nth-child(704),
.grid-item:nth-child(705),
.grid-item:nth-child(706), 
.grid-item:nth-child(707),
.grid-item:nth-child(708),
.grid-item:nth-child(712), 
.grid-item:nth-child(714),
.grid-item:nth-child(715),
.grid-item:nth-child(723), 
.grid-item:nth-child(724),
.grid-item:nth-child(725),
.grid-item:nth-child(727),
.grid-item:nth-child(731),
.grid-item:nth-child(733),
.grid-item:nth-child(734),
.grid-item:nth-child(738),
.grid-item:nth-child(741), 
.grid-item:nth-child(742),
.grid-item:nth-child(745),
.grid-item:nth-child(746),
.grid-item:nth-child(748),
.grid-item:nth-child(750),
.grid-item:nth-child(754), 
.grid-item:nth-child(756),
.grid-item:nth-child(760),
.grid-item:nth-child(762), 
.grid-item:nth-child(763),
.grid-item:nth-child(766),
.grid-item:nth-child(767), 
.grid-item:nth-child(768),
.grid-item:nth-child(769),
.grid-item:nth-child(773), 
.grid-item:nth-child(775),
.grid-item:nth-child(783),
.grid-item:nth-child(785), 
.grid-item:nth-child(786),
.grid-item:nth-child(787),
.grid-item:nth-child(788), 
.grid-item:nth-child(789),
.grid-item:nth-child(791),
.grid-item:nth-child(792), 
.grid-item:nth-child(793),
.grid-item:nth-child(794),
.grid-item:nth-child(795), 
.grid-item:nth-child(797),
.grid-item:nth-child(798),
.grid-item:nth-child(800),
.grid-item:nth-child(801),
.grid-item:nth-child(802),
.grid-item:nth-child(804),
.grid-item:nth-child(806),
.grid-item:nth-child(808), 
.grid-item:nth-child(811),
.grid-item:nth-child(820),
.grid-item:nth-child(823),
.grid-item:nth-child(825),
.grid-item:nth-child(828),
.grid-item:nth-child(829), 
.grid-item:nth-child(833),
.grid-item:nth-child(840),
.grid-item:nth-child(841) {
    background-color: transparent;
}


